<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <script src="https://kit.fontawesome.com/5e5d8f9e22.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topbar">
		<div class="animated-text">LUV FIT</div>
	</div>
    <div class="typehead">ABOUT US</div>
    <div class="def">The 1st LUV Fit centre was opened in Ammapet, 
        Salem in 2020.We are here to help you out and accompany you to 
        maintain your weight,<br>Weight loss and Weight Gain.</div><br>
        <div class="our">OUR GOAL</div>
        <div class="con">
LUV Fit has helped thousands of people in India to get healthier and stronger with its fitness 
solutions,it concetrates more on the women.At the core<br> of the LUV Fit concept is a 30-minute circuit
 training catered to especially to the 
needs of the women. This concept is complemented with personal attention to every member. In just
 30 minutes, the women work every major muscle group
through a proven program of strength training, cardio and stretching      
The LUVFIT circuit coach, always keep the work out fresh with variety of
exercises. The Pink coach will motivate and offer support & advice <br>to keep the person on the
right track. At Pink the Fit body is within reach.
        </div>
        <div class="insert">
            <img src="C:\Users\DHIVYAA SARAVANAN\Downloads\project gallery\Luv fit centers\edit.jpg">
        </div>
        
        <div class="our1">OPPORTUNITY</div>
        <div class="con1">
             LUV FIT is simple yet effective training concept which is highly scalable:Small investments,
              big results. The model is an excellent you
               can shape your life and careers.LUV FIT offers ideal starting conditions: The fitness center
                requires just as little floor space as it requires initial capital. It is the personal attention
                 given to each member that is of the greatest priority – only those who feel comfortable will 
                 exercise. A combination of highly profitable concept and the personal touch gives
             entrepreneurs in localities with just over 10000 people density.
        </div>
        <div class="videoinsert" >
            <div class="heading">TIPS FOR DOING EXCERCISE</div>
            <video controls width="80%" height="300px">
                <source src="C:\Users\DHIVYAA SARAVANAN\Downloads\project gallery\Luv fit centers\Wendy Suzuki_ The brain-changing benefits of exercise _ TED.mp4" type="video/mp4">
            </video>
        </div>
         <div class="ty">
        <div class="heading">30 DAY CHALLENGE FOR WEIGHTLOSS</div>
            <video controls width="80%" height="300px">
                <source src="C:\Users\DHIVYAA SARAVANAN\Downloads\project gallery\Luv fit centers\30 Day Workout Challenge - 'I AM IN CONTROL' - Day 1 _ (NO EQUIPMENT) REAL-TIME Workout.mp4" type="video/mp4">
            </video>
        </div>
        <div class="ty1">
            <div class="heading">BED TIME YOGA</div>
                <video controls width="80%" height="300px">
                    <source src="C:\Users\DHIVYAA SARAVANAN\Downloads\project gallery\Luv fit centers\Yoga For A Relaxing Night's Sleep.mp4" type="video/mp4">
                </video>
            </div>
        <div class="manual">
        <div class="our2">EVENTS</div>
        <div class="con2">
            Many events will be posted based on the months and occasions.They will provide you a new 
            change and create new excitement within you and they help to induce you and be attendive and 
            surround with positive vibes.
        </div>
    </div>
    <div class="dup"></div>
    <footer>
        <div class="footer-content">
            <h3>LUV FIT</h3>
            <p>LUV FIT is the health and fitness Consultancy website where we can make use of many things 
                like weight loss,weight gain and weight-management.</p>
            <ul class="socials">
               <li><a href="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>
                
             </ul>
        </div>
        <div class="footer-bottom">
            
            <p>copyright &copy;2022 <a href="#">LUV FIT</a>  </p>
         </div>
      </footer>
</body>
</html>

