<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/confirm.css">
    <title>confirm</title>
</head>
<body>
    <div class="full">
    <form action="/auth/confirm" method="post">
         <label for="email" >Email</label> 
        <input type="text" name="email" placeholder="enter email" value="{{store}}"><br>
        <label for="password" >Password</label> 
        <input type="text" name="password" placeholder="enter password"><br>
         <label for="createpassword" >Create Password</label> 
        <input type="text" name="createpassword" placeholder="enter password again"><br>
        <button >Reset Password</button>
    </form>
    </div>
</body>
</html>
