<!DOCTYPE html>
<html>
<head>
	<title>HealthHub</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://kit.fontawesome.com/5e5d8f9e22.js" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="topbar">
		<div class="animated-text">LUV FIT</div>
	</div>
	<div class="menu">
		<nav>
       <ul class="item"> 
       	<li><a href="#">RECIPES</a>
       		<ul class="item1">
       			<li><a href="/recipes">DESSERTS</a></li>
       			<li><a href="/salads">SALADS</a></li>
       		</ul>
       	</li>
       	<li><a href="/NutriLogin">BOOK NOW</a></li>
        <div class="rightcorner">
            <a href="/Nutrilogin">LOGIN</a>
		</div>
        </ul>
        </nav>
		</div>
          <div class="animated_gif">
 <img  src="/images/ezgif.com-gif-maker.gif"  alt="there must be a video" id="img">
 <br>
 <h1 class="our">OUR SERVICES</h1>
 <div id="grid-col">
 	<div class="cell">
		<h6>Fitness Coach</h6>
		<div class="fit">
			<a href="/coach"><img src="https://tse3.mm.bing.net/th?id=OIP.-5kRMB18o4sj9W9q5GHxnQHaE8&pid=Api&P=0"></a>
		</div>
	</div>
   <div class="cell">
	<h6>Nutritionist</h6>
	<div class="fit1">
		<a href="/nutritionist"><img src="https://tse4.mm.bing.net/th?id=OIP.zgMzcULJEMSkAIieav3aSwHaEJ&pid=Api&P=0"></a>
	</div>
   </div>
 	<div class="cell">
		<h6>Yoga Instructor</h6>
		<div class="fit2">
			<a href="/yoga"><img src="https://cf.ltkcdn.net/fitness/yoga/images/std/300876-800x515-how-long-does-it-take-
			become-yoga-instructor.jpg"></a>
		</div>
	</div>
</div>
<div class="box">

 	<div class="image">
 		<img id="rad" src="https://images.indianexpress.com/2022/01/feature-healthy-food-e1646050285767.jpg"
		 height="280px" width="550px";>
 	</div>

 	<div class="content">
 		<h2>Just about us</h2><br>
 		<p>Nutrition and health go hand in hand. After all, it’s food that fuels every cell in the body 
		and helps build stamina and muscle strength. As such, optimising one’s diet to maximise health
		 is achievable.Our ultimate aim is to spread awareness among the society to keep them healthy,fit,and 
		 being confident also through the physical appearance.It not only make them beautiful but also 
		 being healthy.This website helps you to be with you as a neighbour friend and guide you as possible.
    </p><br>
 		<a href="/about" ><button class="btn">know more ></button></a>
 	</div>
</div><br><br>
<div class="join">JOIN OUR COMMUNITY</div>
 <div class="css">
	
		<img src="https://media1.popsugar-assets.com/files/thumbor/Z9u0jKcLDQbuD4Lr-MiYWceEmX4/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/09/20/435/n/38922805/tmp_Q1xeAM_3194454048dabfa6_does-sweating-mean-youre-working-hard-during-workout.jpg" alt="class-header-performance" width="495" height="370" class="alignnone size-large wp-image-173" />
	
 </div>
  <div class="full-align">
  <div class="comm-join">Joining a fitness community has so many benefits.
	 There are various environments for fitness communities in every town and city.
	Finding one that fits who you are, what you want to accomplish and the type of people
	you want to be surrounded by will help in every way for your health and wellness journey.
   As much as working out from home can be convenient, sometimes it’s too convenient. Below, 
   I point out 10 reasons why belonging to a fitness community will help you towards your
    fitness goals!
</div>

	<a href="/community" ><button class="btn1">Know Us ></button></a>
	</div>
	<div class="kk">
		<h1 class="heading">MEMBERSHIP PLAN</h1>
	    
		<div class="box-container">
		   <div class="bot">
			   <h3 class="title">BASIC</h3>
			   <h3 class="price">Cost : 40K</h3>
			   <h3 class="price">4 months</h3><br><br>
			   <ul>
				   <li><i class="fa"></i>Meditation</li>
				   <li><i class="fa"></i>Cardio Workout</li>
				   <li><i class="fa"></i>Yoga</li>
				   <li><i class="fa"></i>Diet Consultancy</li>
				   <li><i class="fa"></i>Nutrician Consultancy</li>
				   <li><i class="fa"></i>Weekly Twice Checkup</li>
				   <li><i class="fa"></i>Customised Workouts</li>
			   </ul><br>
			   <a href="/NutriLogin" ><button class="btn">Pay now ></button></a>
			 </div>
		
		   <div class="bot">
			   <h3 class="title">STANDARD</h3>
			   <h3 class="price">Cost : 80K</h3>
			   <h3 class="price">8 months</h3><br><br>
			   <ul>
				   <li><i class="fa"></i>Meditation</li>
				   <li><i class="fa"></i>Cardio Workout</li>
				   <li><i class="fa"></i>Yoga</li>
				   <li><i class="fa"></i>Diet Consultancy</li>
				   <li><i class="fa"></i>Nutrician Consultancy</li>
				   <li><i class="fa"></i>Weekly Twice Checkup</li>
				   <li><i class="fa"></i>Customised Workouts</li>
			   </ul><br>
			   <a href="/NutriLogin" ><button class="btn">Pay now ></button></a>
		   </div>
	   
		   <div class="bot">
			   <h3 class="title">PREMIUM</h3>
			   <h3 class="price">Cost : 1L</h3>
			   <h3 class="price">12 months</h3><br><br>
			   <ul>
				   <li><i class="fa"></i>Meditation</li>
				   <li><i class="fa"></i>Cardio Workout</li>
				   <li><i class="fa"></i>yoga</li>
				   <li><i class="fa"></i>Diet Consultancy</li>
				   <li><i class="fa"></i>Nutrician Consultancy</li>
				   <li><i class="fa"></i>Weekly Twice Checkup</li>
				   <li><i class="fa"></i>Customised Workouts</li>
			   </ul><br>
			   <a href="/NutriLogin" ><button class="btn">Pay now ></button></a>
		   </div>
		</div>
            <div class="ex">Upcoming Event</div>
			<div class="walk">
				<img src="\images\bann.jpg">
			</div>
			<marquee class="marquee">Registration link will be updated soon...</marquee>
           <div class="set">
			<img src="https://tse1.mm.bing.net/th?id=OIP.1Mg-NXW6c_3YzwPGFBZyfAHaE5&pid=Api&P=0">
		   </div>
		   <div class="set1">
			<img src="\images\surf.jpg">
		   </div>
		   <div class="cover">
		   <div class="heaad">Luv Gallery</div><br>
		   <div class="para">By seeing our website Gallery you might know about our website 
			clearly and also make<br> use of them to create awareness among others you also get an idea 
			to mingle and <br>participate in our events and make use of them in the form of their goals 
			such as weight<br>loss,weight gain,weight-management.<br><br>
			<a href="/gallery" ><button class="btn4">Visit ></button></a>

		   </div>
           
		   </div>
		
		   <footer>
			<div class="footer-content">
				<h3>LUV FIT</h3>
				<p>LUV FIT is the health and fitness Consultancy website where we can make use of many things 
					like weight loss,weight gain and weight-management.</p>
			</div>
			<div class="footer-bottom"><ul class="socials">
					<li><a href="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>
					
				 </ul>
				
				<p>copyright &copy;2022 <a href="#">LUV FIT</a>  </p>
			 </div>
		  </footer>	
</body>
</html>



