<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment method</title>
    <link rel="stylesheet" type="text/css"  href="/css/paymentmethod.css">
	<script src="https://kit.fontawesome.com/5e5d8f9e22.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="align">
        PAYMENT METHOD
    </div>
    <div id="grid">
        <div class="cells">
           <h6>UPI method</h6>
           <div class="fit-content">
               <a href="UPImethod.html"><img src="https://tse2.mm.bing.net/th?id=OIP.8rBw46qRjw7NYhX7ARrddwHaDD&pid=Api&P=0"></a>
           </div>
       </div>
      <div class="cells">
       <h6>Debit Card</h6>
       <div class="fit1-content">
           <a href="Debitcard.html"><img src="https://tse1.mm.bing.net/th?id=OIP.6Q8DnWkzNe83shnxzE7GLAHaE8&pid=Api&P=0"></a>
       </div>
      </div>
        <div class="cells">
           <h6>Credit Card</h6>
           <div class="fit2-content">
               <a href="Creditcard.html"><img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/phonepe_660_050221042103.jpg"></a>
           </div>
       </div>
</div>
</body>
</html>
